[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-decouple = "*"
uvicorn = {extras = ["standard"], version = "*"}
whitenoise = "*"
django-cors-headers = "*"

[dev-packages]
freezegun = "*"

[requires]
python_version = "3.8"
